<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bonjour !!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="container my-2" align="center">
<h2>Immo CFAAAA</h2>
<p>Lorem</p>

<ul>
    <li><a th:href="@{/about}" class="btn btn-sm btn-info">Infos</a></li>
    <li><a th:href="@{/agent}" class="btn btn-sm btn-info">Agent</a></li>
</ul>
</body>
</html>